.container{
  padding: 20px;
  cursor: pointer;
  background:#921212;
  border:none;
  border-radius:5px;
  width:max-content;
  color:white;
  transition: all .1s;
}

.container:hover {
  background:#921212b1;
}

@media all and (max-width:550px){
  .container{
    font-size: 12px;
    padding: 15px;
  }
}