.mainTitle {
    font-size: 70px;
}

.strong {
    font-size: 70px;
    color: #921212;
}

.container {

}

.selectTitle {
    margin: 20px 0;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap:50px;
}

.item {
    height:300px;
    border: 5px solid #bbb;
    border-radius: 5px;
    position:relative;
    background-size: cover !important;
}

.item:nth-child(1){
    background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.3)), url("/portfolioPage1.png") 50% 50%;
}
.item:nth-child(2){
    background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.3)), url("/project1.png") 50% 50%;
}
.item:nth-child(3){
    background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.3)), url("/project2.png") 50% 50%;
}

.title {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    font-weight:bold;
}

.item:hover .title {
    color:#921212;
}

@media all and (max-width:550px){
    .items {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .title {
        font-size: 30px;
    }
}