@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EliceDigitalBaeum-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MBC1961GulimM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font:normal 14px/1 'ONE-Mobile-Title', 'arial';
  line-height:1.3;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #111;
  color:#bbb;
  letter-spacing: 1px;
}

li {
  list-style:none;
  margin:0;
  padding:2px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme {
  transition:all .5s;
}

.light {
  background-color:white;
  color:#111;
}

.dark {
  background-color: #111;
  color:#bbb;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}