.container {
  display: flex;
  align-items: center;
  gap: 100px;
  width:100%;
}

.item {
  width:50%;
  display:flex;
  flex-direction:column;
  gap: 50px;
}

.itemRight {
  width:50%;
  display:flex;
  flex-direction:column;
  gap: 30px;
}

.title {
  background: linear-gradient(to bottom, #921212, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.greet {
  font-size: 72px;
}

.intro {
  font-size: 48px;
  color: #bbb;
}

.myName {
  font-size: 72px;
  color: #921212;
  animation: twinkle 1.7s infinite alternate;
}

@keyframes twinkle {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  /* animation: move 3s infinite ease alternate; */
}

@keyframes move {
    from {
        transform:translateY(-15px);
    }
    to {
        transtrom:translateY(0px) scale(1.03);
    }
}

.desc {
  font-size: 20px;
  font-weight: 300;
}

.button{
  padding: 20px;
  cursor: pointer;
  background:#921212;
  border:none;
  border-radius:5px;
  width:max-content;
  color:white;
}

.sTitle {
  font-size: 32px;
  padding: 10px 6px;
  border-bottom: 2px solid #921212;
}

.itemBox {
  width:100%;
}

.content {
  width:100%;
  padding: 10px 2px;
}

.content > p {
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 6px;
}

.contact {
  font-size: 16px;
  padding: 6px;
}

.contact a {
  font-size: 16px;
}

.contact a:hover {
  text-decoration: underline;
}

@media all and (max-width:1050px){
  .container {
    flex-flow: wrap;
  }

  .item {
    width:100%;

  }
  
  .itemRight {
    width:100%;

  }

}

@media all and (max-width:550px){
  .container {
    gap: 50px;
  }

  .item {
    margin-top: 30px;
  }

  .greet {
    font-size: 48px;
  }
  
  .intro {
    font-size: 32px;
    color: #bbb;
  }
  
  .myName {
    font-size: 48px;
  }

  .sTitle {
    font-size: 24px;
  }

  .content > p {
    font-size: 16px;
    width:100%;
  }
  
  .contact {
    font-size: 12px;
    padding: 3px;
  }
  
  .contact a {
    font-size: 12px;
  }
}