.container {
    display:flex;
    align-items:center;
    gap:50px;
    margin-bottom:50px;
}

.image {
    object-fit: cover;
}

.title {
    font-size:20px;
    margin-bottom:10px;
}

.desc {
    font-size:16px;
    color:#999;
    width:990px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media all and (max-width:550px){
    .container {
        flex-flow: wrap;
        gap: 20px;
    }
    .imageContainer {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .desc {
        width: 350px;
    }
}